<h1 class="current-category"><%= params[:category] %></h1>

<% if @books.count == 0 %>
<h1> There are no books currently in this genre </h1>
<% else %>

<% @books.each do |book| %>
  
  <%= link_to cl_image_tag(book.image, :class => 'thumb', :alt => book.title),book %>

        
        <% end %>
    <% end %>


